<div class="container">
  <div class="jobshow-content">
    <!-- <div class="back-button">
      <a ui-sref="jobseeker"><i class="material-icons left">keyboard_arrow_left</i>Back to Jobs</a>
    </div> -->
    <br>
    <div class="job-name text-capitalize">
      {{$ctrl.job.position_type }}
    </div>
  </div>
  <div class="pic-img responsive-img">
    <img class="pic-content" ng-src="http://svcdn.simpleviewinc.com/v3/cache/www_exploreboone_com/C2D81BE450D9BCA1FE1F6BD8ADA9BF1A.jpg">
  </div>
  <div class="job-show z-depth-2">
    <div class="job-content">


      <div style="font-size: 24px; padding-bottom: 10px;" class="col-md-12 col-sm-12 col-xs-12">
        {{$ctrl.location.name}}
      </div>
      <div style="font-size: 16px; padding-bottom: 5px;" class="col-md-12 col-sm-12 col-xs-12">
      {{$ctrl.location.address}}
      </div>
      <div style="font-size: 14px; padding-bottom: 5px;" class="text-capitalize col-md-12">
      {{$ctrl.location.city}}, <span class="text-upcase">{{$ctrl.location.state}}</span>{{$ctrl.location.zipcode}}
      </div>
      <div style="padding-bottom: 10px;"class="col-md-12 col-sm-12 col-xs-12" >
        _________
      </div>
      <br>
      <br>
      <div class="col-md-12 col-sm-12 col-xs-12">
          When:  {{$ctrl.job.date | date }}
      </div>

      <div class="col-md-12 col-sm-12 col-xs-12">
            Time:
            {{$ctrl.job.start_time | date: 'EEE, MMM d @ ha' }} - {{$ctrl.job.end_time | date: ' ha' }}
      </div>
      <div style="padding-bottom: 10px;"class="col-md-12 col-sm-12 col-xs-12">
          Pay rate:
          {{$ctrl.job.hourly_wage | currency}} / hr
      </div>
      <div ng-hide="{{$ctrl.job.user_id}}" >
          <form ng-submit="$ctrl.acceptJob($ctrl.job.id)" >
       <button type="submit" class="btn waves-effect waves-light ">accept this job</button>
       </form>
      </div>
    </div>

    <div class="map">
      <article class="">
      <!-- zoom='$ctrl.map.zoom' -->
          <div ng-if="$ctrl.map" class="">
              <ui-gmap-google-map center='$ctrl.map.center'  draggable="true" options="options">
                  <ui-gmap-marker coords="$ctrl.marker.coords" idKey="$ctrl.marker.id"></ui-gmap-marker>
              </ui-gmap-google-map>
          </div>
      </article>
    </div>
  </div>
</div>
