<!-- <div calss="container">    <form class="col-md-8 col-sm-8 col-xs-10 job-show">
 -->
 <div class="col-md-8 col-sm-8 col-xs-10 job-show z-depth-4 location-new">

    <form class="col s12">
      <div class="row">
      <div class="col-md-12 col-sm-12 col-xs-12">
        <div class="col-md-12 col-sm-12 col-xs-12 text-center text-uppercase location-new-tittle">
          Edit your location
        </div>
        <div class="input-field col s6">
          <input id="phone_num" type="text" class=" validate " ng-model="$ctrl.location.phone_num" placeholder="Bussiness Phone Number">

        </div>
        <div class="input-field col s6">
          <input id="business_type" type="text" class=" validate " ng-model="$ctrl.location.business_type" placeholder="Industry (Bussiness Type)">

        </div>
      </div>

      </div>

      <div class="pac-card" id="pac-card">

        <div id="title" >
         search
        </div>
      <div id="pac-container" class="col-md-12 col-sm-12 col-xs-12">
        <input id="pac-input" type="text"
            placeholder="Enter a location" ng-model="$ctrl.address" style="background:white;" class="col-md-8 col-sm-8 col-xs-8 loc-search">
            <button ng-click="$ctrl.addlocation($ctrl.address)" class="col-md-2 col-sm-2 col-xs-2 btn location-add-btn">Add location</button>
            <!-- <input ng-model="$ctrl.address" /> -->
      </div>
    </div>
    <div id="map" class="loc_map" ></div>
    <div id="infowindow-content">
      <img src="" width="16" height="16" id="place-icon">
      <span id="place-name"  class="title"></span><br>
      <span id="place-address"></span>
    </div>

    <div class="row">
      <div class="col-md-12 col-sm-12 col-xs-12">
        <div class="input-field col s12">
          <input id="name" type="text" class="validate" ng-model="$ctrl.location.name" placeholder="Location name">

        </div>
        <div class="input-field col s12">
          <input id="address" type="text" class="validate" ng-model="$ctrl.location.address" placeholder="Address">
        </div>
        <div class="input-field col s12">
          <input id="photo_url" type="text" class="validate" ng-model="$ctrl.location.photo_url" placeholder="Photo Url">
        </div>
        <div class="input-field col s6">
          <input id="city" type="text" class="validate" ng-model="$ctrl.location.city" placeholder="City">
        </div>
        <div class="input-field col s6">
          <input id="state" type="text" class="validate" ng-model="$ctrl.location.state" placeholder="State">
        </div>
        <div class="input-field col s12">
        <textarea id="description" class="materialize-textarea" ng-model="$ctrl.location.description" placeholder="Description"></textarea>
        </div>
        <div class="input-field col s12 center"  style="margin-bottom: 1em;">

        <button class="btn custom-btn" ng-click="$ctrl.saveLocation()">Save</button>
        </div>

      </div>

      </div>
  </form>
</div>




<!-- <h1>New Location</h1> -->


    <script>
      // This example requires the Places library. Include the libraries=places
      // parameter when you first load the API. For example:
      // <script src="https://maps.googleapis.com/maps/api/js?key=YOUR_API_KEY&libraries=places">

      function initMap() {
        var map = new google.maps.Map(document.getElementById('map'), {
          center: {lat: 33.753746, lng: -84.386330},
          zoom: 9
        });
        var card = document.getElementById('pac-card');
        var input = document.getElementById('pac-input');
        var types = document.getElementById('type-selector');
        var strictBounds = document.getElementById('strict-bounds-selector');

        map.controls[google.maps.ControlPosition.TOP_RIGHT].push(card);

        var autocomplete = new google.maps.places.Autocomplete(input);

        // Bind the map's bounds (viewport) property to the autocomplete object,
        // so that the autocomplete requests use the current map bounds for the
        // bounds option in the request.
        autocomplete.bindTo('bounds', map);

        var infowindow = new google.maps.InfoWindow();
        var infowindowContent = document.getElementById('infowindow-content');
        infowindow.setContent(infowindowContent);
        var marker = new google.maps.Marker({
          map: map,
          anchorPoint: new google.maps.Point(0, -29)
        });

        autocomplete.addListener('place_changed', function() {
          infowindow.close();
          marker.setVisible(false);
          var place = autocomplete.getPlace();
          if (!place.geometry) {
            // User entered the name of a Place that was not suggested and
            // pressed the Enter key, or the Place Details request failed.
            window.alert("No details available for input: '" + place.name + "'");
            return;
          }

          // If the place has a geometry, then present it on a map.
          if (place.geometry.viewport) {
            map.fitBounds(place.geometry.viewport);
          } else {
            map.setCenter(place.geometry.location);
            map.setZoom(10);  // Why 17? Because it looks good.
          }
          marker.setPosition(place.geometry.location);
          marker.setVisible(true);

          var address = '';
          if (place.address_components) {
            console.log(place.address_components);
            address = [
              (place.address_components[0] && place.address_components[0].short_name || ''),
              (place.address_components[1] && place.address_components[1].short_name || ''),
              (place.address_components[2] && place.address_components[2].short_name || '')
            ].join(' ');
          }

          infowindowContent.children['place-icon'].src = place.icon;
          infowindowContent.children['place-name'].textContent = place.name;
          infowindowContent.children['place-address'].textContent = address;
          infowindow.open(map, marker);
        });
      }
    </script>
    <script src="https://maps.googleapis.com/maps/api/js?key=AIzaSyAohMMx5Ns4F5hhjZolRS29Ey9X5ZfKftU&libraries=places&callback=initMap"
        async defer></script>











