<h1>This is the Job Seekers Dashboard</h1>

<table>
  <thead>
    <tr>
      <th>position_type</th>
      <th>start_time</th>
      <th>end_time</th>
      <th>date</th>
      <th>hourly_wage</th>
      <th></th>
    </tr>
  </thead>
  <tbody>
    <tr ng-repeat="job in $ctrl.jobs">
      <td>{{ job.position_type }}</td>
      <td>{{ job.start_time }}</td>
      <td>{{ job.end_time }}</td>
      <td>{{ job.date }}</td>
      <td>{{ job.hourly_wage }}</td>
      <!-- add location of job -->
<!--       <td><a ui-sref="acceptJob({user_id//USERID job_id:job.id})">AcceptJob</a>
 -->     <!--  <td><form ng-submit="$ctrl.jobDelete(USERID, job.id)"> -->
<!--          <button type="submit">delete</button></form> </td>
 -->        </tr>
    </tbody>
    <tbody>
    </tbody>
</table>