<h1>New Job</h1>

<form>
    <label for="position">Position
    <input type="text" name="position" ng-model="$ctrl.job.position_type"></label><br/>
    <label for="description">Description
    <input type="text" name="description" ng-model="$ctrl.job.description"></label><br/>
    <label for="start_time">Start time
    <input type="text" name="start_time" ng-model="$ctrl.job.start_time"></label><br/>
    <label for="end_time">End time
    <input type="text" name="end_time" ng-model="$ctrl.job.end_time"></label><br/>
    <label for="date">Date
    <input type="date" name="date" ng-model="$ctrl.job.date"></label><br/>
    <label for="hourly_wage">Hourly wage
    <input type="text" name="hourly_wage" ng-model="$ctrl.job.hourly_wage"></label><br/>
    <label for="actual_start_time">Actual start time
    <input type="text" name="actual_start_time" ng-model="$ctrl.job.actual_start_time"></label><br/>
    <label for="actual_end_time">Actual end time
    <input type="text" name="actual_end_time" ng-model="$ctrl.job.actual_end_time"></label><br/>
    <button ng-click="$ctrl.saveJob()">Create New Job</button>
</form>
