<h1>New Location</h1>

<form>
    <label>Position</label>
    <input ng-model="$ctrl.location.name" />

    <input ng-model="$ctrl.location.business_type" />
    <input ng-model="$ctrl.location.address" />
    <input ng-model="$ctrl.location.city" />
    <input ng-model="$ctrl.location.state" />
    <input ng-model="$ctrl.location.zipcode" />
    <input ng-model="$ctrl.location.phone_num" />
    <input ng-model="$ctrl.location.description" />

    <br/>
    <button ng-click="$ctrl.saveLocation()">Save</button>

    <p>form = {{$ctrl.location}}</p>
  	<p>master = {{$ctrl.master}}</p>
</form>
