<!-- <p ng-repeat="location in $ctrl.locations">
  <a ui-sref="jobsNew({location_id: location.id})"> Post a job at {{location.name}}</a>
<p> -->


<div class="container">
  <form ng-submit="$ctrl.postJob($ctrl.selectedLocation)" class="form-group">
    <input class="btn btn-primary" value="Add a new job at {{$ctrl.selectedLocation.name}}" type="submit">
    <br>

    <select ng-options="location as location.name for location in $ctrl.locations track by location.id" ng-model="$ctrl.selectedLocation">

    </select>
  </form>
  <!-- Dropdown Trigger -->
  <a class='location-button btn' href='#' data-activates='locationdropdown'>Drop Me!</a>

  <!-- Dropdown Structure -->
  <ul id='locationdropdown' class='dropdown-content'>
    <li><a href="#!">one</a></li>
    <li><a href="#!">two</a></li>
    <li class="divider"></li>
    <li><a href="#!">three</a></li>
    <li><a href="#!"><i class="material-icons">view_module</i>four</a></li>
    <li><a href="#!"><i class="material-icons">cloud</i>five</a></li>
  </ul>
  <div class="table-position">
    <h3>My Jobs</h3>
    <table class="responsive-table">
        <thead>
            <tr>
                <th class="col-md-4">Position</th>
                <th class="col-md-4">Applicant</th>
                <th class="col-md-4">Date Posted</th>
                <th class="col-md-4">Status</th>
                <th class="col-md-6">Actions</th>
            </tr>
        </thead>
        <tbody>
            <tr ng-repeat="job in $ctrl.jobs">
                <td>
                  {{job.position_type}}
                  <br>
                  {{job.location.name}}
                  <br>
                  {{job.location.city}}, {{job.location.state}}
                </td>
                <td><a ui-sref="applicant({jobseeker_id: job.jobseeker.id, location_id:job.location_id, job_id:job.id})">{{ job.jobseeker.full_name }}</a></td>
                  <td>{{job.date}}</td>
                <td>
                  <div ng-if="job.jobseeker_id === null">
                    Empty
                  </div>
                  <div ng-if="job.jobseeker_id != null">
                    Filled
                  </div>
                </td>
                <td>
                  <div ng-if="$ctrl.checkDates(job.date) === true">
                      <a ui-sref"checkJob({job_id: job.id})>Process Billing</a>
                  </div>
                  <a ui-sref="jobsEdit({location_id:job.location_id, job_id:job.id})">Edit</a>
                  <form ng-submit="$ctrl.jobDelete(job.location_id, job.id)">
                    <button type="submit">delete</button>
                  </form>
                </td>
            </tr>
        </tbody>
    </table>
  </div>

  <script>
  $('.location-button').dropdown({
      inDuration: 300,
      outDuration: 225,
      constrainWidth: false, // Does not change width of dropdown to that of the activator
      hover: true, // Activate on hover
      gutter: 0, // Spacing from edge
      belowOrigin: false, // Displays dropdown below the button
      alignment: 'left', // Displays dropdown with edge aligned to the left of button
      stopPropagation: false // Stops event propagation
    }
  );
  </script>
</div>
