<h1>My Jobs</h1>
<a ui-sref="jobsNew({location_id: $ctrl.location})">New Job Post</a>
<table>
    <thead>
        <tr>
            <th>Position</th>
            <th>Applicant</th>
            <!-- <th>start_time</th>
            <th>end_time</th> -->
            <th>Date Posted</th>
            <!-- <th>hourly_wage</th>
            <th>actual_start_time</th>
            <th>actual_end_time</th> -->
            <th>Status</th>
            <th>Actions</th>
            <th></th>
        </tr>
    </thead>
    <tbody>
        <tr ng-repeat="job in $ctrl.jobs">
            <td>
              {{job.position_type}}
              <br>
              {{job.location.name}}
              <br>
              {{job.location.city}}, {{job.location.state}}
            </td>
            <td><a ui-sref="applicant({jobseeker_id:job.jobseeker.id})">{{ job.jobseeker.full_name }}</a></td>

            <td>{{job.date}}</td>
            <!-- <td>{{job.start_time}}</td>
            <td>{{job.end_time}}</td>
            <td>{{job.hourly_wage}}</td>-->
            <td ng-if="job.jobseeker_id === null">Empty</td>
            <td ng-if="job.jobseeker_id != null">Filled</td>
             <td>{{job.actual_start_time}}</td>
            <td>{{job.actual_end_time}}</td>
            <td><a ui-sref="jobsEdit({location_id:job.location_id, job_id:job.id})">Edit</a>
            <td>
            <form ng-submit="$ctrl.jobDelete(job.location_id, job.id)">
                <button type="submit">delete</button>
            </form>
            </td>
        </tr>
    </tbody>
</table>
