<!-- <p ng-repeat="location in $ctrl.locations">
  <a ui-sref="jobsNew({location_id: location.id})"> Post a job at {{location.name}}</a>
<p> -->

<div class="container">


  <div id="job-selector" class="col-md-12 col-sm-12 col-xs-12 text-right">
    <form ng-submit="$ctrl.postJob($ctrl.selectedLocation)" class="form-group">
      <input class="btn btn_custom" value="Add a new job at {{$ctrl.selectedLocation.name}}" type="submit">
      <br>


      <select id="newLocation" ng-options="location as location.name for location in $ctrl.locations track by location.id" ng-model="$ctrl.selectedLocation">
      </select>
    </form>
  </div>


  <div class="table-position">
    <div style="width: 100%; display: flex;">
      <div style="width: 50%;">
        <h3>My Jobs</h3>
      </div>
      <div style="width: 50%;">
      <!-- Dropdown Trigger -->
      <!-- <a style="float: right;"class='location-button btn' href='#' data-activates='locationdropdown'>New Job Post</a> -->
      </div>

    </div>
    <table class="responsive-table centered bordered">
        <thead>
            <tr>
                <th class="col-md-2">Position</th>
                <th class="col-md-2">Applicant</th>
                <th class="col-md-2">Date Posted</th>
                <th class="col-md-2">Status</th>
                <th class="col-md-2">Actions</th>
            </tr>
        </thead>
        <tbody>
            <tr class="table-content text-capitalize" ng-repeat="job in $ctrl.jobs">
                <td>
                  {{job.position_type}}
                  <br>
                  {{job.location.name}}
                  <br>
                  {{job.location.city}}, {{job.location.state}}
                </td>
                <td><a ui-sref="applicant({jobseeker_id: job.jobseeker.id, location_id:job.location_id, job_id:job.id})">{{ job.jobseeker.full_name }}</a></td>
                  <td>{{job.date | date }}</td>
                <td>
                  <div ng-if="job.jobseeker_id === null">
                    Empty
                  </div>
                  <div ng-if="job.jobseeker_id != null">
                    Filled
                  </div>
                </td>

                <td>


    <div ng-if="$ctrl.checkDates(job.date) === true && job.jobseeker_id != null">
        <form ng-submit="$ctrl.processBilling(job)">
          <button type="submit" class="btn-flat" class="payment-button"><i class="material-icons" style="color:green;">payment</i></button>
        </form>
    </div>

    <div ng-if="$ctrl.checkDates(job.date) === false || job.jobseeker_id === null")>
      <a ui-sref="jobsEdit({location_id:job.location_id, job_id:job.id})"><i class="material-icons" style="color:green;">mode_edit</i></a>

    </div>

    <div>
      <form ng-submit="$ctrl.jobDelete(job.location_id, job.id)">
        <button type="submit" class="delete-button"><i class="material-icons">delete</i></button>
      </form>
    </div>


    <!--   <div ng-if="$ctrl.checkDates(job.date) === true">
          <a ui-sref"checkJob({job_id: job.id})>Process Billing"</a>
      </div>
      <a ui-sref="jobsEdit({location_id:job.location_id, job_id:job.id})"><i class="material-icons" style="color:green;">mode_edit</i></a>
      <form ng-submit="$ctrl.jobDelete(job.location_id, job.id)">
        <button type="submit" class="delete-button"><i class="material-icons " >delete</i></button>
      </form> -->


                </td>
            </tr>
        </tbody>
    </table>
  </div>

  <script>
  $('.location-button').dropdown({
      inDuration: 300,
      outDuration: 225,
      constrainWidth: false, // Does not change width of dropdown to that of the activator
      hover: true, // Activate on hover
      gutter: 0, // Spacing from edge
      belowOrigin: false, // Displays dropdown below the button
      alignment: 'left', // Displays dropdown with edge aligned to the left of button
      stopPropagation: false // Stops event propagation
    }
  );
  </script>
</div>
