 

<h1>Initial Skills Page</h1>



<div class="inset switchpositions" ng-cloak="">
  
  <md-switch ng-model="$ctrl.data.cb1" class="md-primary" ng-true-value="'Congratulations!'" aria-label="Switch 1">
    Busboy: {{ $ctrl.data.cb1 }}
  </md-switch>
  
  <md-switch ng-model="data.cb2" class="md-primary" ng-true-value="'Congratulations!'" aria-label="Switch 1">
    Dishwasher: {{ $ctrl.data.cb2 }}
  </md-switch>
  
  <md-switch ng-model="data.cb3" class="md-primary" ng-true-value="'Congratulations!'" aria-label="Switch 3">
    Server: {{ $ctrl.data.cb3 }}
  </md-switch>
  
  <md-switch ng-model="data.cb4" class="md-primary" ng-true-value="'Congratulations!'" aria-label="Switch 4">
    Foodrunner: {{ $ctrl.data.cb4 }}
  </md-switch>
  
  <md-switch ng-model="data.cb5" class="md-primary" ng-true-value="'Congratulations!'" aria-label="Switch 1">
    Prep Cook: {{ $ctrl.data.cb5 }}
  </md-switch>

</div>

