<h1>Initial Skills Page</h1>



<form>
    <p>
      <input type="checkbox" id="test5" ng-model="$ctrl.skills[0]" />
      <label for="test5">Prep Cook</label>
    </p>
    <p>
      <input type="checkbox" id="test6" ng-model="$ctrl.skills[1]" />
      <label for="test6">Busboy</label>
    </p>
    <p>
      <input type="checkbox" id="test7" ng-model="$ctrl.skills[2]" />
      <label for="test7">Dishwasher</label>
    </p>
    <p>
      <input type="checkbox" id="test8" ng-model="$ctrl.skills[3]" />
      <label for="test8">Server</label>
    </p>
    <p>
      <input type="checkbox" id="test9" ng-model="$ctrl.skills[4]" />
      <label for="test9">Foodrunner</label>
    </p>
    <button ng-click="$ctrl.saveSkills()">Save your skills</button>
  </form>




