<% if notice %>
  <p class="alert alert-success"><%= notice %></p>
<% end %>
<% if alert %>
  <p class="alert alert-danger"><%= alert %></p>
<% end %>
<html>
  <head>
    <meta charset="utf-8">
    <title>GiiG</title>
  </head>
  <body>
    This is Home
  </body>
</html>
