/*
 * This is a manifest file that'll be compiled into application.css, which will include all the files
 * listed below.
 *
 * Any CSS and SCSS file within this directory, lib/assets/stylesheets, vendor/assets/stylesheets,
 * or any plugin's vendor/assets/stylesheets directory can be referenced here using a relative path.
 *
 * You're free to add application-wide styles to this file and they'll appear at the bottom of the
 * compiled file so the styles you add here take precedence over styles defined in any other CSS/SCSS
 * files in this directory. Styles in this file should be added after the last require_* statement.
 * It is generally better to create a new file per style scope.
 *
 *= require_tree .
 *= require_self
 */



@import "materialize";
$nav-color: color("blue-grey", "darken-4") !default;
$teal-color: #26a69a;
$text_shadow: 1px 1px 3px grey;
$bg-color: #F1F4F8;
$footer-color: color("grey", "lighten-2") !default;




body {
  background-color: $bg-color;
  display: flex;
  min-height: 100vh;
  flex-direction: column;
  // font-family: ‘Source Sans Pro’, sans-serif;
}

main {
  flex: 1 0 auto;
}

#index-banner {
  background: url("jay-wennington-2065.jpg") no-repeat center center;
  // background-image: rgba(0, 0, 0, 0.4);
  background-size: cover;
  height: 80vh;
}
.overlay {
  background:rgba(0, 0, 0, 0.4) no-repeat center center;
  background-size: cover;
  height: 80vh;
}

.no-underline {
  text-decoration: none;
}

#header-content {
  padding-top: 100px;
  color: white;
  font-size: 4em;

}

#des-content {
  font-size: 1.64em;
}



#dropdown1 {
  top: 55px !important;
  width: 140px !important;
}

nav{
  background: $nav-color;
  ul{
    a:hover {
      color: #26a69a;

    }
  }
}
#user-phot {
  margin-right: 20px;
}

// ***** Footer *****//
.page-footer {
  color: black !important;
  padding-top: 0 !important;
  background: $footer-color;
  z-index: 50;
}
.footer-copyright {
  color: black !important;
}
.login-form {
    margin-top: 1em;
    float: none !important;

    .z-depth-4 {
        padding: 2em;
    }

    div {
        float: none;
        margin: 0 auto;
    }

    .sign_up_heading {
      margin-bottom: 1em;
      text-shadow: $text_shadow;
      color: $nav-color;
    }
}


/*nav .brand-logo {*/
  /*padding-left: 50px;*/
/*}*/
nav ul.left {
  // float: left !important;
  padding-left: 200px;
}

input {
  font-size: 1em !important;
}


nav {

    // margin-bottom: 1em;
    /*background: $off_white;*/

    .brand-logo  {
        /*font-family: $logo_font;*/
      /*color: $text_color;*/
      padding-left: 10px;

      /*text-decoration: none;*/
    }

    .button-collapse:hover {
        /*color: $text_color;*/
        color: $teal-color;
        text-decoration: none;
    }


    .brand-logo:hover {
         text-decoration: none;
        color: $teal-color;

    }

    ul {
      a {
        font-size: 1.2em;
      }

        a:hover {
            color: $teal-color;
            text-decoration: none;

        }
    }
}

label {
  font-size: 1.2rem !important;
}



.sign-up-form {
  float: none;
}

.custom_btn {
  margin: 1em 0;
}
//********************//
//**** Job Show *****//
//******************//

.job-name {
  padding-bottom: 10px;
  font-size: 20px;
}

.jobshow-content {
  padding-top: 30px;
}

.pic-img {
  width: 100%;
  height: 400px;
  // background-color: red;
}
.pic-content {
  width: 100%;
  height: 100%;

}

.initial-skill {
  float: none !important;
    margin: 0 auto !important;
    position: relative;
    background-color: white !important;
    /*top: -50px;*/
    border-radius: 2px !important;
    width: 85%;
    height: auto;
}

.job-show {
    /*float: none !important;
    margin: 0 auto !important;
    position: relative;
    background-color: white !important;*/
    top: -50px;
    @extend .initial-skill;

    /*border-radius: 2px !important;
    width: 85%;
    height: auto;*/
}



.job-content {
  margin: 0 auto;
  width: 90%;
  position: relative;
  top: 25px;
  padding-bottom: 10px;

  // margin-top: 50px;
  // background-color: blue;

}


.map {
  margin-top: 35px;
  width: 100%;
  // background-color: yellow;
}
.box {
  background-color: red !important;
  width: 100%;
}
.jobshow-desc-tittle {
  font-size: 2em;
  text-shadow: $text_shadow;
}

.location-new{
  margin-top: 1em !important;
}

.location-new-tittle {
  margin-top: 1em !important;
  @extend .jobshow-desc-tittle;
}

.initial-skill-tittle {
  margin: 2em 0 !important;
  @extend .location-new-tittle
}

.jobshow-desc {
  text-indent: 40px;
    margin: 1em 0;
    font-size: 1.3em;
    text-align:justify;
    text-justify:inter-ideograph;
    /*text-shadow: $text_shadow;*/
}

.angular-google-map-container { height: 27em; }

.table-position {
  padding-top: 50px;
}

thead {
  color: white;
  background-color: $nav-color;
  // border: 2px solid black;
  // border-radius: 50%;
  // border-top-left-radius: 2em;

  td {
    border: 2px solid;
    border-top-left-radius: 2em;
  }

  td, th {
    border-radius: 0 !important;

  }

}

.table-content {
  background-color: white !important;

}

.card-title {
  width: 100%;
  display: flex;

}
.card-content {
  display: flex;
}

.title-content {
  width: 50%;

  .title-content, span {
    width: auto;
    border-radius: 2px;
    padding: 8px;
    background-color: rgba(0, 0, 0, 0.4);

  }
  // float: left;
}
.time-content {
  width: 50%;
  font-size: 10px;
  display: flex;
  border-radius: 2px;
  padding: 8px;
  justify-content: flex-end;
  background-color: rgba(0, 0, 0, 0.4);
}
.location-content {
  width: 50%;

  // float: left;
}
.payment-content {
  width: 50%;
  display: flex;
  justify-content: center;
  align-items: center;

}
.money-content {
  width: 100%;
  height: 50%;
}
// Job card width
.container .row {
    margin-left: -5.75rem;
    margin-right: -5.75rem;
}


.raised {
  box-shadow: 0 3px 6px rgba(0,0,0,0.16), 0 3px 6px rgba(0,0,0,0.23);
  transition: all 0.3s cubic-bezier(.25,.8,.25,1);
}

.raised:hover {
  box-shadow: 0 14px 28px rgba(0,0,0,0.25), 0 10px 10px rgba(0,0,0,0.22);
}

@media all and (max-width: 650px) {
  .container .row {
    margin-left: -0.75rem;
    margin-right: -0.75rem;
  }
}

.loc_map {
  width: 100%;
  height: 27em;
}

.pac-card {
  margin-top: 3em;
  position: relative !important;
}


.loc-search {
  width: 80% !important;
}

.location-add-btn {
  padding: 0 !important;
  margin: 5px;
}

/*initial skills switch styling*/
.switchpositions .inset {
  padding-left: 25px;
  padding-top: 105px; }

#newLocation, .override-material, #newPosition, #override-switch {
  display: inline;
}

#newLocation {
  width: 20em;
  margin-top: 2em;
}

#job-selector {
  margin: auto;
  /*justify-content: center;*/
  padding: 3em 6em 0 6em;

}

.new_business {
    margin-left: auto;
    margin-right: auto;
    width: 20em;
}

.initialskill-custom-btn {
  margin-bottom: 2em !important;
  @extend .custom_btn;
}

.delete-button {
  border: none !important;
  color: red;
  background: rgba(255, 255, 255, 0) !important;
}

.applicant-content {
  padding-top: 55px;
  padding-bottom: 100px;
}
.applicant-name {
  font-size: 30px;
  padding-bottom: 15px;
}
.applicant-position {
  font-size: 24px;
  padding-bottom: 15px;
}
.applicant-dateapplied {
  font-size: 18px;
}

.loc_index {
  margin: 2em;
}

.nav-jobs {
  padding-left: 30px !important;
}

.navbar-fixed-top {
  top: 0;
  position: fixed;
}

.nav-space {
  margin-top: 50px;
}

@media screen and (max-width: 415px) {
  .initial-skill-tittle {
    font-size: 1.3em;
  }

  .card-title {
    font-size: 1em !important;
  }

  .pic-img {
    height: 200px;
  }
}
