/*
 * This is a manifest file that'll be compiled into application.css, which will include all the files
 * listed below.
 *
 * Any CSS and SCSS file within this directory, lib/assets/stylesheets, vendor/assets/stylesheets,
 * or any plugin's vendor/assets/stylesheets directory can be referenced here using a relative path.
 *
 * You're free to add application-wide styles to this file and they'll appear at the bottom of the
 * compiled file so the styles you add here take precedence over styles defined in any other CSS/SCSS
 * files in this directory. Styles in this file should be added after the last require_* statement.
 * It is generally better to create a new file per style scope.
 *
 *= require_tree .
 *= require_self
 */



@import "materialize";
$nav-color: color("blue-grey", "darken-4") !default;
$teal-color: #26a69a;
$text_shadow: 1px 1px 3px grey;





body {
  display: flex;
  min-height: 100vh;
  flex-direction: column;
  // font-family: avenir;
}

main {
  flex: 1 0 auto;
}

.page-footer {
     padding-top: 0 !important;

}

#dropdown1 {
  top: 55px !important;
}

nav{
  background: $nav-color;
  ul{
    a:hover {
      color: #26a69a;

    }
  }
}

.login-form {
    margin-top: 2em;
    float: none;

    .z-depth-4 {
        padding: 2em;
    }

    div {
        float: none;
        margin: 0 auto;
    }

    .sign_up_heading {
      margin-bottom: 1em;
      text-shadow: $text_shadow;
      color: $nav-color;
    }
}


/*nav .brand-logo {*/
  /*padding-left: 50px;*/
/*}*/
nav ul.left {
  // float: left !important;
  padding-left: 200px;
}

input {
  font-size: 1em !important;
}

nav {

    margin-bottom: 1em;
    /*background: $off_white;*/

    .brand-logo  {
        /*font-family: $logo_font;*/
      /*color: $text_color;*/
      margin-left: 1em;

      /*text-decoration: none;*/
    }

    .button-collapse:hover {
        /*color: $text_color;*/
        color: $teal-color;
        text-decoration: none;
    }


    .brand-logo:hover {
         text-decoration: none;
                     color: $teal-color;

    }

    ul {

        a:hover {
            color: $teal-color;
            text-decoration: none;

        }
    }
}

label {
  font-size: 1rem !important;
}

.page-footer {
  background: $nav-color;
}

.sign-up-form {
  float: none;
}

.custom_btn {
  margin: 1em 0;
}

.angular-google-map-container { height: 400px; }

.table-position {
  padding-top: 80px;
}

thead {
  color: white;
  background-color: $nav-color;
  td, th {
    border-radius: 0 !important;
  }

}
