<h1>Locations</h1>

<table>
 <thead>
   <tr>
     <th>Name</th>
     <th>Business</th>
     <th>Address</th>
     <th>City</th>
     <th>Telephone</th>
     <th colspan="3"></th>
   </tr>
 </thead>

 <tbody>
   <tr ng-repeat="location in $ctrl.locations">
     <td>{{ location.name }}</td>
     <td>{{ location.business_type }}</td>
     <td>{{ location.address }}</td>
     <td>{{ location.city }}</td>
     <td>{{ location.phone_num}}</td>
    <!-- later we could add number of jobs made for that site -->

    <td> <a ui-sref="jobsIndex({ location_id: location.id })">Jobs</a> </td>

    <td> <a ui-sref="locationsEdit({ id: location.id })">Edit your location</a> </td>

    <td> <form ng-submit="$ctrl.locationDelete(location.id)">
      <button type="submit">delete</button>
    </form> </td>




   </tr>
 </tbody>
</table>

<a ui-sref="locationsNew">Create a Location</a>
