<div calss="container">
    <div class="col-md-4 col-sm-4 col-xs-4 job-show z-depth-4">


<div class="col-md-12 col-sm-12 col-xs-12 text-center text-uppercase initial-skill-tittle">
          Choose your skills
        </div>
        <div class="col-md-12 col-sm-12 col-xs-12">
            <hr class="m12 s12 xs12">
        </div>


<form class= "center">
    <p>
      <input type="checkbox" id="test5" ng-model="$ctrl.skills[0]" />
      <label for="test5">Prep Cook</label>
    </p>
    <p>
      <input type="checkbox" id="test6" ng-model="$ctrl.skills[1]" />
      <label for="test6">Busboy</label>
    </p>
    <p>
      <input type="checkbox" id="test7" ng-model="$ctrl.skills[2]" />
      <label for="test7">Dishwasher</label>
    </p>
    <p>
      <input type="checkbox" id="test8" ng-model="$ctrl.skills[3]" />
      <label for="test8">Server</label>
    </p>
    <p>
      <input type="checkbox" id="test9" ng-model="$ctrl.skills[4]" />
      <label for="test9">Foodrunner</label>
    </p>
    <button ng-click="$ctrl.saveSkills()" class="btn initialskill-custom-btn">Save your skills</button>
  </form>

</div>
</div>


